.wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.im {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.message_block {
  width: max-content;
  padding: 6px;
  margin: 2px 0;
  display: flex;
  border-radius: 3px;
  color: black;
  background-color: #fff;
  border-bottom: 1px solid #d1cfc8;
}

.im_message_block {
  width: max-content;
  padding: 6px;
  margin: 2px 0;
  display: flex;
  border-radius: 3px;
  color: black;
  border-bottom: 1px solid #d1cfc8;
}

.wait {
  background-color: #eaf7e7;
}

.success {
  background-color: #cbfcc1;
}

.error {
  background-color: #f96363;
}
